 body {
    margin: 50px;
    font-family: Helvetica;
    font-size: 150%;
}

#section1{
    display: none;
    font-family: sans-serif;
    color:blueviolet;
}

#section2{
    display: none;
    font-family: 'Franklin Gothic Medium';
    color: aqua;
}

#swapBtn{
    display: none;
}
